<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitLife_FitCare"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".postrun_7"
            android:exported="false" />
        <activity
            android:name=".postrun_6"
            android:exported="false" />
        <activity
            android:name=".postrun_5"
            android:exported="false" />
        <activity
            android:name=".postrun_4"
            android:exported="false" />
        <activity
            android:name=".postrun_3"
            android:exported="false" />
        <activity
            android:name=".postrun_2"
            android:exported="false" />
        <activity
            android:name=".prerun_7"
            android:exported="false" />
        <activity
            android:name=".prerun_6"
            android:exported="false" />
        <activity
            android:name=".prerun_5"
            android:exported="false" />
        <activity
            android:name=".prerun_4"
            android:exported="false" />
        <activity
            android:name=".prerun_3"
            android:exported="false" />
        <activity
            android:name=".prerun_2"
            android:exported="false" />
        <activity
            android:name=".morning_7"
            android:exported="false" />
        <activity
            android:name=".morning_6"
            android:exported="false" />
        <activity
            android:name=".morning_5"
            android:exported="false" />
        <activity
            android:name=".morning_4"
            android:exported="false" />
        <activity
            android:name=".morning_3"
            android:exported="false" />
        <activity
            android:name=".morning_2"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_8"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_7"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_6"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_5"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_4"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_3"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_2"
            android:exported="false" />
        <activity
            android:name=".Arm_begin_1"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_10"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_9"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_8"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_7"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_6"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_5"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_4"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_3"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_2"
            android:exported="false" />
        <activity
            android:name=".Thigh_inter_1"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_10"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_9"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_8"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_7"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_6"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_5"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_4"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_3"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_2"
            android:exported="false" />
        <activity
            android:name=".Thigh_advanc_1"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_10"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_9"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_8"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_7"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_6"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_5"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_4"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_3"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_2"
            android:exported="false" />
        <activity
            android:name=".Thigh_begin_1"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_10"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_9"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_8"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_7"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_6"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_5"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_4"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_3"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_2"
            android:exported="false" />
        <activity
            android:name=".Abs_advan_1"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_10"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_9"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_8"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_7"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_6"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_5"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_4"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_3"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_2"
            android:exported="false" />
        <activity
            android:name=".Abs_inter_1"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_12"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_11"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_10"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_9"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_8"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_7"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_6"
            android:exported="false" />
        <activity
            android:name=".Lowerbody"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_5"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_4"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_3"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_2"
            android:exported="false" />
        <activity
            android:name=".Lowerbody_1"
            android:exported="false" />
        <activity
            android:name=".Faceyoga_5"
            android:exported="false" />
        <activity
            android:name=".Faceyoga_4"
            android:exported="false" />
        <activity
            android:name=".Faceyoga_3"
            android:exported="false" />
        <activity
            android:name=".Faceyoga_2"
            android:exported="false" />
        <activity
            android:name=".Faceyoga_1"
            android:exported="false" />
        <activity
            android:name=".Faceyoga"
            android:exported="false" />
        <activity
            android:name=".Fullbody_1"
            android:exported="false" />
        <activity
            android:name=".Chest_inter"
            android:exported="false" />
        <activity
            android:name=".Chest_begin"
            android:exported="false" />
        <activity
            android:name=".Chest_advanc"
            android:exported="false" />
        <activity
            android:name=".Abs_beginner_3"
            android:exported="false" />
        <activity
            android:name=".Abs_beginner_2"
            android:exported="false" />
        <activity
            android:name=".Abs_beginner_1"
            android:exported="false" />
        <activity
            android:name=".flatbelly_8"
            android:exported="false" />
        <activity
            android:name=".flatbelly_7"
            android:exported="false" />
        <activity
            android:name=".flatbelly_6"
            android:exported="false" />
        <activity
            android:name=".flatbelly_5"
            android:exported="false" />
        <activity
            android:name=".flatbelly_4"
            android:exported="false" />
        <activity
            android:name=".flatbelly_3"
            android:exported="false" />
        <activity
            android:name=".flatbelly_2"
            android:exported="false" />
        <activity
            android:name=".flatbelly_1"
            android:exported="false" />
        <activity
            android:name=".indoor_9"
            android:exported="false" />
        <activity
            android:name=".indoor_8"
            android:exported="false" />
        <activity
            android:name=".indoor_7"
            android:exported="false" />
        <activity
            android:name=".indoor_6"
            android:exported="false" />
        <activity
            android:name=".indoor_5"
            android:exported="false" />
        <activity
            android:name=".indoor_4"
            android:exported="false" />
        <activity
            android:name=".indoor_3"
            android:exported="false" />
        <activity
            android:name=".indoor_2"
            android:exported="false" />
        <activity
            android:name=".indoor_1"
            android:exported="false" />
        <activity
            android:name=".office_9"
            android:exported="false" />
        <activity
            android:name=".office_8"
            android:exported="false" />
        <activity
            android:name=".office_7"
            android:exported="false" />
        <activity
            android:name=".office_6"
            android:exported="false" />
        <activity
            android:name=".office_5"
            android:exported="false" />
        <activity
            android:name=".office_4"
            android:exported="false" />
        <activity
            android:name=".office_3"
            android:exported="false" />
        <activity
            android:name=".office_2"
            android:exported="false" />
        <activity
            android:name=".office_1"
            android:exported="false" />
        <activity
            android:name=".lazybed_9"
            android:exported="false" />
        <activity
            android:name=".lazybed_8"
            android:exported="false" />
        <activity
            android:name=".lazybed_7"
            android:exported="false" />
        <activity
            android:name=".lazybed_6"
            android:exported="false" />
        <activity
            android:name=".lazybed_5"
            android:exported="false" />
        <activity
            android:name=".lazybed_4"
            android:exported="false" />
        <activity
            android:name=".lazybed_3"
            android:exported="false" />
        <activity
            android:name=".lazybed_2"
            android:exported="false" />
        <activity
            android:name=".standing_yoga"
            android:exported="false" />
        <activity
            android:name=".sitted_yoga"
            android:exported="false" />
        <activity
            android:name=".sun_salutation"
            android:exported="false" />
        <activity
            android:name=".ease_yoga"
            android:exported="false" />
        <activity
            android:name=".sleepy_time_stretch"
            android:exported="false" />
        <activity
            android:name=".postrun_warmup"
            android:exported="false" />
        <activity
            android:name=".prerun_warmup"
            android:exported="false" />
        <activity
            android:name=".morning_warmup"
            android:exported="false" />
        <activity
            android:name=".slim_legss"
            android:exported="false" />
        <activity
            android:name=".toned_arms"
            android:exported="false" />
        <activity
            android:name=".angle_booty"
            android:exported="false" />
        <activity
            android:name=".office_workout"
            android:exported="false" />
        <activity
            android:name=".indoor_walking"
            android:exported="false" />
        <activity
            android:name=".lazybed_1"
            android:exported="false" />
        <activity
            android:name=".lazy_bed"
            android:exported="false" />
        <activity
            android:name=".Calendar_1"
            android:exported="false" />
        <activity
            android:name=".workout_5"
            android:exported="false" />
        <activity
            android:name=".enjoy_4"
            android:exported="false" />
        <activity
            android:name=".goal_2"
            android:exported="false" />
        <activity
            android:name=".Forget_Password"
            android:exported="false" />
        <activity
            android:name=".day_spend7"
            android:exported="false" />
        <activity
            android:name=".exercise_time_6"
            android:exported="false" />
        <activity
            android:name=".problems_3"
            android:exported="false" />
        <activity
            android:name=".motivate_1"
            android:exported="false" />
        <activity
            android:name=".Goal"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".flat_belly"
            android:exported="false" />
        <activity
            android:name=".abs_advanced"
            android:exported="false" />
        <activity
            android:name=".abs_beginner"
            android:exported="false" />
        <activity
            android:name=".Abs_beginner_4"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>